In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import q_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nome,US,2021-12-02 02:34:22,64.5011,-165.4064,-11.13,65,1,3.44
1,1,Gat,IL,2021-12-02 02:34:22,31.6100,34.7642,62.82,100,53,8.08
2,2,Rio Claro,BR,2021-12-02 02:34:22,-22.4114,-47.5614,71.42,79,0,4.61
3,3,Hithadhoo,MV,2021-12-02 02:34:23,-0.6000,73.0833,82.06,74,91,5.82
4,4,Amalapuram,IN,2021-12-02 02:34:23,16.5833,82.0167,79.18,63,7,6.53

In [3]:
#configure gmaps to use API key
gmaps.configure(api_key=q_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig_temp = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig_temp.add_layer(heat_layer)
# Call the figure to plot the data.
fig_temp

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig_temp = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig_temp.add_layer(heat_layer)
# Call the figure to plot the data.
fig_temp

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig_cloud = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig_cloud.add_layer(heat_layer)
# Call the figure to plot the data.
fig_cloud

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig_wind = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig_wind.add_layer(heat_layer)
# Call the figure to plot the data.
fig_wind

Figure(layout=FigureLayout(height='420px'))

In [8]:
min_temp = float(input("What is the minimum temperature you would like for your trip"))
max_temp = float(input("What is the maximum temperature you would like for your trip"))

What is the minimum temperature you would like for your trip75
What is the maximum temperature you would like for your trip90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Hithadhoo,MV,2021-12-02 02:34:23,-0.6000,73.0833,82.06,74,91,5.82
4,4,Amalapuram,IN,2021-12-02 02:34:23,16.5833,82.0167,79.18,63,7,6.53
9,9,Sungaipenuh,ID,2021-12-02 02:34:26,-2.0833,101.3833,78.69,51,45,4.85
11,11,Thinadhoo,MV,2021-12-02 02:34:27,0.5333,72.9333,82.00,75,89,6.42
12,12,Jawhar,SO,2021-12-02 02:34:27,2.7809,45.5005,77.13,73,98,8.77
23,23,New Norfolk,AU,2021-12-02 02:34:31,-42.7826,147.0587,82.90,37,82,1.01
25,25,Carnarvon,AU,2021-12-02 02:34:32,-24.8667,113.6333,77.07,53,0,24.16
27,27,Kailua,US,2021-12-02 02:34:33,21.4022,-157.7394,84.18,71,75,12.66
36,36,Tayug,PH,2021-12-02 02:34:36,16.0274,120.7434,83.35,50,80,5.61
38,38,Butaritari,KI,2021-12-02 02:34:37,3.0707,172.7902,82.27,76,72,11.83

In [10]:
#Dropping nulls
preferred_cities_df.dropna(inplace=True)

/Users/byanka/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#DataFrame for hotel pop_up markers, city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
3     Hithadhoo      MV     82.06  -0.6000   73.0833
4    Amalapuram      IN     79.18  16.5833   82.0167
9   Sungaipenuh      ID     78.69  -2.0833  101.3833
11    Thinadhoo      MV     82.00   0.5333   72.9333
12       Jawhar      SO     77.13   2.7809   45.5005
23  New Norfolk      AU     82.90 -42.7826  147.0587
25    Carnarvon      AU     77.07 -24.8667  113.6333
27       Kailua      US     84.18  21.4022 -157.7394
36        Tayug      PH     83.35  16.0274  120.7434
38   Butaritari      KI     82.27   3.0707  172.7902

In [12]:
# Set parameters to search for a hotel.
params = {
    "raius": 5000,
    "type": "lodging",
    "key": q_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" + q_key
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [19]:
hotels = requests.get(base_url, params=params).json()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [17]:
hotels

{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}